  .advantages_icon {
    font-size: 36px;
    margin-bottom: 15px;
    color: #ff5722;
  }
  
  .advantages_subtitle {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .advantages_description {
    font-size: 16px;
    color: #666;
  }
  